body {
	font-family:georgia;
	margin-left:15%;
	margin-right:15%;
}

h1 {
	text-align:center;
	padding-bottom:2%;
	font-variant:small-caps;
}

h2 {
	font-variant:small-caps;
}

img {
	float:left;
	padding-right:2%;
}

.angry{
	font-weight:bolder;
	color:red;
}