body {
	font-family:georgia;
	margin-left:15%;
	margin-right:15%;
}

h1 {
	text-align:center;
	padding-bottom:2%;
}

img {
	text-align:right;
	float:left;
	padding-right:2%;
}

.left_align_in_center{
	/*padding-left:2%;*/
}