@import url(https://fonts.googleapis.com/css?family=Squada+One);
@import url(https://fonts.googleapis.com/css?family=Roboto);


.skrollable {
	position:fixed;
	z-index:100;
}
.skrollr-mobile .skrollable {
	position:absolute;
}
.skrollable .skrollable {
	position:absolute;
}
.skrollable .skrollable .skrollable {
	position:static;
}

html, body {
    margin:0;
    width:100%;
    height:100%;
	background:
	linear-gradient(
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.7)),
		url(../img/bg.png);
	background-attachment: fixed;
	font-family:'Roboto';
	font-weight:300;
}

body {
    display:none;
}

#bgimg {
    width:100%;
    height:100vh;
    background:
		linear-gradient(
            rgba(245, 206, 88, 0.5),
            rgba(0, 0, 0, 0.5)),
        url('../img/beach.jpg')
        center center no-repeat;
    background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -webkit-background-size:cover;

    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;

    color:#ffffff;
    text-align:center;
}

#graphics {
    position:relative;
}

#web {
    position:relative;
}

#sidebar {
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    max-width:100%;

    display:flex;
    justify-content:center;
    align-items:center;
}

#sidebar-content {
    max-width:100%;
	display:flex;
    justify-content:center;
    align-items:center;
	flex-wrap:wrap;

	text-align:center;
}

#circle {
    border-radius: 50%;
    width:15em;
	height:15em; /*
    max-width:100%;
    padding-top:100%; */

    background:url("../img/me.jpg") center center no-repeat;;
    background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -webkit-background-size:cover;
}

#all-content {
    margin-top:100px;
    min-height:200vh;
    text-align:center;
}

h1 {
    margin:0;
    padding:0;
    font-family:'Squada One';
    font-weight:400;
    font-size:10em;
	font-size:14vw;
    text-transform:uppercase;
}

h2 {
    font-family:'Squada One';
    font-weight:400;
    font-size:5em;
    text-transform:uppercase;
}

h3 {
    font-family:'Squada One';
    font-weight:400;
	font-size:1.5em;
}

a {
    text-decoration:none !important;
	color:inherit;
	text-align:center;
}

img.graphic {
    position:relative;
    width:75%;
    height:auto;
    margin-top:5em;
    margin-bottom:5em;
}

img.graphic.vertical {
    max-height:95vh;
    width:auto;
    max-width:75%;
}

.buttonList {
    height:10em;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    text-align:center;
}

.button {
    margin:0;
    padding:0.2em;
    width:7em;
    font-family:'Squada One';
    font-weight:400;
    text-transform:uppercase;
    font-size:2em;
    color:#ffffff;
    background:rgba(0,0,0,0);
    border: solid 0.1em #ffffff;
}

.buttonDark {
    margin:0;
    padding:0.2em;
    width:7em;
    font-family:'Squada One';
    font-weight:400;
    text-transform:uppercase;
    font-size:2em;
    color:#000000;
    background:rgba(0,0,0,0);
    border: solid 0.1em #000000;
}

.button:hover {
    cursor:pointer;
    transition:0.3s;
    box-shadow: 0 0 0 0.1em #ffffff;
}

.sideBttn {
	text-decoration:none;
	border-bottom: 0.0625em solid #ff684d;
	box-shadow: inset 0 -0.125em 0 #ff684d;
	color: inherit;
	transition: background 0.1s cubic-bezier(.33,.66,.66,1);
}

.sideBttn:hover {
	background:#ff684d;
	color:inherit;
}

.divider {
    width:2em;
    height:auto;
}

::selection {
    background: #5b5b5b;
	color:white;
}
::-moz-selection {
    background: #5b5b5b;
	color:white;
}

/* @media (max-width:800px) {
    html {
        font-size:0.75em;
    }
}

@media (max-width:550px) {
    html {
        font-size:0.4em;
    }
} */

@media only screen and (max-width : 768px) {
    #sidebar {
        height:100vh;
        position:relative;
        top:0;
        left:0;
    }
}
